<h1>About me</h1>
<p>This app was created as part of the rails girls event</p>
<p>
  It was created by <a href="https://github.com/beccapearce">Rebecca Pearce</a> a junior developer
</p>
<p> I hope you enjoy the app and find it useful </p>
